<!DOCTYPE html>
	<html>
		<head>
			<title>{{page.title}}</title>
			<!-- Link to the primary stylesheet -->
			<link rel = "stylesheet" type = "text/css" href = "/css/main.css">
		</head>
		<body>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/About Me">About Me</a></li>
					<li><a href="./Resume.pdf" target = "blank">Resume</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</nav>
			<div class = "container">
				{{content}}
			</div> <!-- .container -->
			<footer>
				<ul>
					<li><a href = "mailto:zacharyzhu@berkeley.edu">email</a></li>
					<li><a href = "https://github.com/zacharyzhu2023">github.com/zacharyzhu2023</a></li>
				</ul>
			</footer>
		</body>
	</html>


